body {
	padding: 0;
	margin: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
#title {
	margin: 4pt 0 4pt 0;
	font-size: 18pt;
}
.limitWidth {
	max-width: 700px;
}
.paddedText {
	margin: 4pt 0 4pt 0;
}
.tables {
	width: 100%;
	display: flex;
	flex-direction: row;
	max-width: 1400px;
}
#tableTitles {
	width: 100%;
	font-size: 14pt;
	text-align: center;
	margin: 0 2ch 0 2ch;
	flex: 0 0 auto;
}
#tableEntries {
	flex: 1 1 auto;
	padding: 0 2ch 2ch 2ch;
	box-sizing: border-box;
}
#tableTitles > div {
	width: 0px;
}
.tables > div {
	width: 0px;
	flex: 1 1 auto;
}
#lectures {
	margin-left: 2ch;
	border-left: 1px solid #111;
	padding-left: 2ch;
	overflow-y: scroll;
}
.listItem {
	margin: 4pt 0 4pt 0;
	font-size: 12pt;
	cursor: pointer;
	display: block;
}
.listItem:hover { background-color: #ee9; }
.listItem:active { background-color: #ee7 !important; }
.list {
	margin: 5pt 0 5pt 0;
	overflow-y: auto;
	display: none;
}
.tip {
	padding-left: 2ch;
	font-size: 10pt;
}
.listEntry {
	margin: 4pt 0 4pt 0;
}
#info {
	width: 500px;
	text-align: left;
	padding: 0 2ch 2ch 2ch;
	box-sizing: border-box;
}
#infoTitle {
	overflow: visible;
	white-space: nowrap;
}
.download {
	font-size: 14pt;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
	text-align: center;
}
.download:hover { background-color: #ee9; }
.download:active { background-color: #ee7; }
